@import "../abstracts/variables";
@import "../abstracts/mixins";

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0;

@media (max-width: 390px) {
  margin-top: 1.25rem;
  margin: 0rem 1rem 0 0rem;
}

&__title {
  @include peach_title;
@media (max-width: 390px) {
  margin: 1rem;
}
}

&__slider {
  display: flex;

@media (max-width: 390px) {
  max-width: 22.5rem;
  width: 100%;
  max-height: 13rem;
  height: 100%;
  border-radius: 16px;
}
}

&__item {
  max-width: 800px;
  margin: 0 2rem 0 2rem;

@media (max-width: 390px) {
  max-width: 22.5rem;
  width: 100%;
  max-height: 13rem;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 1rem 0 1rem;
  }
}

&__img {
  width: 100%;
}

&__more {
  @include blue_button;
  font-size: 1.5rem;
  padding: 1rem 2.7rem 1rem 2.7rem;
  margin-top: 5.6rem;

@media (max-width: 390px) {
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  margin-top: 1rem;
  font-size: 0.7rem;
}
}

&__more:hover,
&__more:active {
  @include blue_button-hover;
}

&__city {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #FFFFFF;
  font-family: 'Red Hat Text';
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
@media (max-width: 390px) {
  font-size: 1.25rem;
  top: 0.5rem;
  left: 1rem;
}
}

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 80px;

@media (max-width: 390px) {
  bottom: 45px;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
@media (max-width: 390px) {
  margin: 0 5px;
}
}

.swiper-button-next,
.swiper-button-prev {
  display: none;

@media (max-width: 390px) {
  display: block;
}
}

.swiper-button-next {
  right: 0px;
  width: 20px;
}

.swiper-button-prev {
  left: 25px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
  font-weight: 600;
}

:root {
  --swiper-theme-color: #F2785C;
}

.swiper-pagination-bullet {
  background-color: #F2785C;
  width: 1.5rem;
  height: 1.5rem;

@media (max-width: 390px) {
  width: 0.5rem;
  height: 0.5rem;
}
}
