@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__layout-container {
    @include layout-container;
    align-items: center;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    max-width: 45.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
@media (max-width: 390px) {
    justify-content: center
}
  }

  &__rights {
    font-family: 'Red Hat Text';
    font-size: 1rem;
    color: #FFFFFF;
  @media (max-width: 390px) {
    display: none;
  }
  }

  &__social {
    display: flex;
    padding: 0;
  }

  &__social li {
    list-style-type: none;
  }

  &__social li:nth-child(2) {
    margin: 0 1.25rem 0 1.25rem;
  }
}
