@import "../abstracts/variables";
@import "../abstracts/mixins";

.preview {
  @include layout-container;
  justify-content: flex-start;

&__title {
  @include aleo_font;
  margin: 2rem 0 0 0;
  font-size: 5rem;
  color: #FFFFFF;

@media (max-width: 390px) {
  display: none;
}
}

&__subtitle {
  @include aleo_font($style: italic);
  font-size: 1.25rem;
  color: #FFFFFF;
  margin: 2.88rem 0 2.88rem 0;

@media (max-width: 390px) {
  display: none;
}
}

&__layout-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 55rem;
  width: 100%;

@media (max-width: 390px) {
  max-width: 22.5rem;
  margin: 0 1rem 0 1rem;
}
}

&__input {
  position: relative;
  max-width: 55rem;
  max-height: 6rem;

@media (max-width: 390px) {
  max-width: 22.5rem;
  max-height: 3rem;
  margin-top: 8.88rem;
}
}

&__placeholder {
  width: 100%;
  height: 100%;
  padding: 2rem 2.5rem 2rem 2.5rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1.5rem;

@media (max-width: 390px) {
  padding: 1rem 1rem 1rem 1rem;
}
}

&__placeholder::placeholder {
  @include aleo_font(400, italic);
  color: $primary-peach-color;

  @media (max-width: 390px) {
  font-size: 0.8rem;
}
}

&__planning {
  @include blue_button;
  position: absolute;
  top: 1.1rem;
  right: 0.8rem;
  max-width: 14rem;
  max-height: 3.6rem;
  font-size: 1.5rem;
  padding: 0.8rem 2rem 0.8rem 2rem;
  z-index: 3;

@media (max-width: 390px) {
  top: 0.6rem;
  right: 0.6rem;
  font-size: 0.6rem;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  max-width: 5.7rem;
  width: 100%;
  max-height: 1.8rem;
  height: 100%;
}
}

&__planning:hover,
&__planning:active {
  @include blue_button-hover;
}

}
