@import "./base/_normalize.css";
@import "./layout/header";
@import "./layout/steps";
@import "./layout/footer";
@import "./layout/preview";
@import "./layout/destinations";
@import "./layout/stories";
@import "./components/login-popup";

*,
body {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

.noscroll {
  overflow: hidden;
  transition: all 0.3s;
}

*,
::after,
::before {
  box-sizing: border-box
}
