@import "../abstracts/variables";
@import "../abstracts/mixins";


.login-popup.active {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  position: fixed;
  z-index: 30;
  background: rgba(11, 81, 94, 0.336);
  transition: ease-in 0.3s;

@media (max-width: 390px) {
  padding-top: 5rem;
}

}

.login-popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 3s, opacity 300ms;

&__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 3rem;
  max-width: 28rem;
  max-height: 38rem;
  border-radius: 4rem;
  background: url("../assets/image/header_background.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  @include peach_title;

@media (max-width: 390px) {
  padding: 1.3rem;
  max-width: 22.5rem;
  max-height: 36rem;
}
}

&__close {
  display: none;
  cursor: pointer;

  @media (max-width: 390px) {
  display: block;
  position: absolute;
  left: 17rem;
  top: 1.5rem;
  height: 4rem;
  width: 4rem;
  opacity: 1;
}
}

&__close:hover {

@media (max-width: 390px) {
  opacity: 0.3;
}
}

&__close:before,
&__close:after {

@media (max-width: 390px) {
  position: absolute;
  left: 2rem;
  top: 1rem;
  content: '';
  height: 2rem;
  width: 0.1rem;
  background-color: #fff;
}
}

&__close:before {

@media (max-width: 390px) {
  transform: rotate(45deg);
}
}

&__close:after {

@media (max-width: 390px) {
  transform: rotate(-45deg);
}
}

&__title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3rem;
  display: inline-block;
  color: #fff;
}

&__icons {
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0.8;
}

&__icon {
  max-width: 3rem;
}

&__link:nth-child(1) {
  margin-right: 3rem;
}

&__form {
  min-height: 345px;
  position: relative;
}

&__label,
&__input,
&__btn {
  width: 100%;
}

&__label {
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
}

&__input,
&__btn {
  border: none;
  padding: 1rem 1.3rem;
  border-radius: 1.5rem;
  background: rgb(231 218 216 / 24%);
  transition: all 0.2s;
}

&__btn:hover {
  background: #187d8f;
  transition: all 0.2s;
}

&__btn:focus {
  background: #187d8f;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  transition: all 0.2s;
}

&__btn {
  margin-top: 1.5rem;
  background: #0D606F;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

&__item {
  margin-bottom: 1rem;
}

&__divider {
  height: 2px;
  margin: 1.6rem 0 2rem 0;
  background: rgba(255, 255, 255, .2);
}

}

input[type=text]:focus,
input[type=password]:focus {
  border-color: rgba(255, 119, 101, 0.829);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
  transition: all 0.2s;
}
